<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FlowerAI</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div>
            <h1>FlowerAI</h1>
        </div>
        <div class="main-div">
            <div class="cards">
                <div class="image-card">
                    <div class="image-card-content">
                        <div class="Language-selector">
                            <div class="select">
                                <span class="selected">English</span>
                                <div class="caret"></div>
                            </div>
                            <ul class="menu">
                                <li class="active">English</li>
                                <li>Hebrew</li>
                                <li>France</li>
                            </ul>
                        </div>
                        <input type="file" id="inpFile". accept="image/png, image/jpg">
                    </div>
                    <div class="uploaded-image-container">
                        <img id="uploaded_image">
                    </div>
                </div>
                <div class="info-card">
                    <div class="info-card-content">
                        <h5><strong>VALUABLE INFORMATION</strong></h5>
                        <h6><strong> Confident:</strong><span id="model_confidence"></span></h6>
                        <p><strong> Name:</strong><span id="flower_name"></span></p>
                        <p><strong> Family:</strong><span id="flower_family"></span></p>
                        <p><strong> Information:</strong><span id="flower_information"></span></p>
                        <p><a id="flower_page_link" href="">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="gallery">
                <h5>Gallery</h5>
                <div class="flowers-images-container">
                    <img src="flowers_imgs/daisy_img.png">
                    <img src="flowers_imgs/rose_img.png">
                    <img src="flowers_imgs/iris_img.png">
                    <img src="flowers_imgs/poppy_img.png">
                    <img src="flowers_imgs/sunflower_img.png">
                </div>
            </div>
        </div>
        <div class="credits">
            <p>Made by: Alon Rozi</p>
            <p>Contact me at: <a href="mailto:a05rozi@gmailcom">a05rozi@gmail.com</a></p>
        </div>
        <script src="main.js"></script>
    </body>
</html>